<h2 id="profile_greet"> Welcome to <%= @user.username %>'s profile! </h2>
<br />
<br />
<% if @user.profile %>
	<h4>Name:</h4> <%= @user.profile.full_name %>
	<h4>Location:</h4> <%= @user.profile.location %>
	<h4>Bio:</h4> <%= @user.profile.bio %>
<% end %>
	<h4>Post History:</h4>
<% @user.posts.each do |post| %>
	
<% if post %>
	<h4>Posted at: [<%= post.created_at %>] </h4> <em><%= post.title %>:</em> <br /><%= post.body %>
<% end %>
<% end %>

